.cost-data {
    display: grid;
    grid-template-columns: 200px 100px 100px 100px;
    grid-template-rows: 100%; 
    background-color: green;
    /* padding: 5px; */
}
 
.name-labels {
    grid-column-start: 1;
    grid-column-end: column1-end;
    grid-row-start: 1;
    grid-row-end: 2;
    /* padding: 5px; */
    background-color: yellow;
}

.cost-data {
    grid-column-start: 2;
    grid-column-end: column3-end;
    grid-row-start: 1;
    grid-row-end: 2;
    /* padding: 5px; */
}

.bill-rate-column {  
    grid-column-start: 2;
    grid-column-end: column2-end;
    grid-row-start: 1;
    grid-row-end: 2;
    /* padding: 5px; */
}


.hours-column {  
    grid-column-start: 3;
    grid-column-end: column3-end;
    grid-row-start: 1;
    grid-row-end: 2;
    padding: 5px;
}

.bill-amount-column {  
    grid-column-start: 4;
    grid-column-end: column4-end;
    grid-row-start: 1;
    grid-row-end: 2;
    padding: 5px;
}