#container {
    display:block
}

.headers {
    margin-left: 600px;
}

/* .task-labels {
    margin-left: 500px;
} */

/* .names {
    margin-left: 100px; 
} */

.cost-data {
    margin-left: 300px;
}

