#container {
    display: grid;
    grid-template-columns: 200px 200px 100px 100px 200px;
    grid-template-rows: 75px 100%;
    background-color: grey;;
}
 
#headers {
    grid-column-start: 3;
    grid-column-end: column5-end;
    grid-row-start: 1;
    grid-row-end: 2;
    padding: 5px;
}

#bill-rate-header {  
    grid-column-start: 3;
    grid-column-end: column3-end;
    grid-row-start: 1;
    grid-row-end: 2;
    padding: 5px;
}


#hours-header {  
    grid-column-start: 4;
    grid-column-end: column4-end;
    grid-row-start: 1;
    grid-row-end: 2;
    padding: 5px;
}


#bill-amount-header {  
    grid-column-start: 5;
    grid-column-end: column5-end;
    grid-row-start: 1;
    grid-row-end: 2;
    padding: 5px;
}

#tasks {
    grid-column-start: 1;
    grid-column-end: column5-end;
    grid-row-start: 2;
    grid-row-end: row3-end;
    padding: 5px;
}

.people-container {
    grid-column-start: 2;
    grid-column-end: column5-end;
    grid-row-start: 2;
    grid-row-end: row3-end;
    padding: 5px;
}